<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <div>
        <h1>You Searched For: <%= data.userQuery %> </h1>
        <% if(data.loggedIn) { %>
            <h2>You are LoggedIn as : <%= data.username %></h2>
        <% } %>
        <ul>
            <% data.searchResults.forEach(result=>{ %>
                <li><%= result %></li> 
            <% }) %>
        </ul>
    </div>
</body>
</html>